body {
    font-family: "Playfair Display", serif;
    font-size: 25px;
    margin: 0;
    padding: 0;
    background-color: rgb(248, 232, 211);
}

/*Формат аватарки*/
.img_main {
    margin-left: 30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 4px 4px 15px black;
}

/*Адаптивность???*/
@media (max-width: 650px) {
    .about__content {
        display: block;
        text-align: center;
    }
}

/*Обтекаемость аватарки текстом*/
.about__content {
    display: flex;
    gap: 30px;
}

/*Форматы шрифтов*/
.social-link {
    text-decoration: dashed;
    color: #582f0e;
    background-color: #fcbf49;
    color: #fb8500;
}

.social-link1 {
    margin-left: 10px;
    text-decoration: dashed;
    background-color: #fcbf49;
    color: #fb8500;
}

.highlight {
    background-color: #fcbf49;
    color: #fb8500;
}

.brown_crossed {
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: line-through;
    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
    color: #582f0e;
    font-weight: 600;
}

.brown {
    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
    font-weight: 600;
    color: #582f0e;
}

.brown_table {
    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
    font-weight: 600;
    color: #582f0e;
}

.orange_underlined {
    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
    background-color: #fcbf49;
    font-weight: 600;
    text-decoration: underline;
    color: #fb8500;
}

.brown2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
    font-weight: 600;
    margin-left: 30px;
    color: #582f0e;
    margin-top: 20px;
}

.orange_highlight {
    background-color: #fcbf49;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: 600;
    color: #fb8500;
}

/*Оформление верхней менюшки*/
header {
    background-color: #fcbf49;
    color: #fb8500;
    font-family: "Playfair Display", serif;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

/*Оформление секций*/
section {
    margin-top: 0px;
    padding: 10px, 15px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 3px 5px 15px;
}

/*Оформление таблицы*/
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #582f0e;
    padding: 8px;
    text-align: left;
}

tr:nth-child(odd) {
    background-color: #fcbf49;
}

/* Адаптивность */
@media (max-width: 340px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin-bottom: 5px;
    }
}